# DataFrames Part 1

In [81]:
import numpy as np

In [82]:
import pandas as pd

In [83]:
from numpy.random import randn
np.random.seed(101)

In [84]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [85]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [86]:
### double brackets
df[['W','Z','Y']]

          W         Z         Y
A  2.706850  0.503826  0.907969
B  0.651118  0.605965 -0.848077
C -2.018168 -0.589001  0.528813
D  0.188695  0.955057 -0.933237
E  0.190794  0.683509  2.605967

In [87]:
df['New']=df['W']+df['Y']

In [88]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [89]:
df.drop('New', axis=1, inplace=True)

In [90]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [91]:
df.drop('E', axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [92]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [93]:
df.shape

(5, 4)

In [94]:
#Selecting ROWS

df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [95]:
# Or

df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [96]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [97]:
df.loc['B','Y']

-0.84807698340363147

In [98]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

# DataFrames Part 2

In [99]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [100]:
booldf=df>0

In [101]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [102]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [103]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [104]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [105]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [106]:
df[df['Z']<0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [107]:
resultdf=df[df['W']>0]

In [108]:
resultdf['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [109]:
# Or 

df[df['W']>0] ['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [110]:
### Conditional selection in details

boolser = df['W']>0
result = df[boolser]
mycols = ['Y','X']
result[mycols]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [111]:
df[df>1]

         W         X         Y   Z
A  2.70685       NaN       NaN NaN
B      NaN       NaN       NaN NaN
C      NaN       NaN       NaN NaN
D      NaN       NaN       NaN NaN
E      NaN  1.978757  2.605967 NaN

In [112]:
df[df['W']>1]

         W         X         Y         Z
A  2.70685  0.628133  0.907969  0.503826

In [113]:
# multiple


df[df['W']>0] [['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [114]:
## For two or more conditions use parenthesis with & or | !!!

df[(df['W']>0) & (df['Y'] > 1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [115]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [116]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [117]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [118]:
newind='CA NY WY OR CO '.split()

In [119]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [120]:
df['States']=newind

In [121]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [122]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [123]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [124]:
#### NEW DATAFRAME

ndf= pd.DataFrame(randn(3,6),index='A B C'.split(),columns='1 2 3 4 5 6'.split())

In [125]:
ndf

          1         2         3         4         5         6
A  0.302665  1.693723 -1.706086 -1.159119 -0.134841  0.390528
B  0.166905  0.184502  0.807706  0.072960  0.638787  0.329646
C -0.497104 -0.754070 -0.943406  0.484752 -0.116773  1.901755

In [126]:
ndf[(ndf['1']<0) & (ndf['3'] <0)]

          1        2         3         4         5         6
C -0.497104 -0.75407 -0.943406  0.484752 -0.116773  1.901755

In [127]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [128]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [129]:
df

             A         B
G1 1  0.238127  1.996652
   2 -0.993263  0.196800
   3 -1.136645  0.000366
G2 1  1.025984 -0.156598
   2 -0.031579  0.649826
   3  2.154846 -0.610259

In [130]:
df[df['A']>0]

             A         B
G1 1  0.238127  1.996652
G2 1  1.025984 -0.156598
   3  2.154846 -0.610259

In [131]:
df = pd.DataFrame({'A':[3,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [132]:
df

     A    B  C
0  3.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [133]:
df.fillna(value='FILL VALUE')

            A           B  C
0           3           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [134]:
df['A'].fillna(value=df['A'].mean())

0    3.0
1    2.0
2    2.5
Name: A, dtype: float64

In [55]:
df[df['A']>0] [df['B']>0]

C:\Users\kozyr\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

     A    B  C
0  3.0  5.0  1

# GroupBy

In [56]:
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [57]:
data

{'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
 'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
 'Sales': [200, 120, 340, 124, 243, 350]}

In [58]:
df=pd.DataFrame(data)

In [59]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [60]:
df.groupby('Company')

In [61]:
bycomp=df.groupby('Company')

In [62]:
bycomp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [63]:
bycomp.sum()

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [64]:
bycomp.sum() .loc['FB']

Sales    593
Name: FB, dtype: int64

In [65]:
bycomp.count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [66]:
df.groupby('Company').describe()

                    Sales
Company
FB      count    2.000000
        mean   296.500000
        std     75.660426
        min    243.000000
        25%    269.750000
        50%    296.500000
        75%    323.250000
        max    350.000000
GOOG    count    2.000000
        mean   160.000000
        std     56.568542
        min    120.000000
        25%    140.000000
        50%    160.000000
        75%    180.000000
        max    200.000000
MSFT    count    2.000000
        mean   232.000000
        std    152.735065
        min    124.000000
        25%    178.000000
        50%    232.000000
        75%    286.000000
        max    340.000000

In [67]:
df.groupby('Company').describe() .transpose()

Company    FB                                                         GOOG  \
        count   mean        std    min     25%    50%     75%    max count
Sales     2.0  296.5  75.660426  243.0  269.75  296.5  323.25  350.0   2.0

Company         ...                  MSFT                                   \
          mean  ...      75%    max count   mean         std    min    25%
Sales    160.0  ...    180.0  200.0   2.0  232.0  152.735065  124.0  178.0

Company
           50%    75%    max
Sales    232.0  286.0  340.0

[1 rows x 24 columns]

# Mergin,Joining and Concatenating

In [68]:
df1=pd.DataFrame({'A1':['a1','a2','a3'],'A2':['b1','b2','b3'],'A3':['c1','c2','c3']}, index=[0,1,2])

df2=pd.DataFrame({'B1':['a1','a2','a3'],'B2':['b1','b2','b3'],'B3':['c1','c2','c3']}, index=[3,4,5])

df3=pd.DataFrame({'C1':['a1','a2','a3'],'C2':['b1','b2','b3'],'C3':['c1','c2','c3']}, index=[6,7,8])

In [69]:
df1

   A1  A2  A3
0  a1  b1  c1
1  a2  b2  c2
2  a3  b3  c3

In [70]:
df2

   B1  B2  B3
3  a1  b1  c1
4  a2  b2  c2
5  a3  b3  c3

In [71]:
df3

   C1  C2  C3
6  a1  b1  c1
7  a2  b2  c2
8  a3  b3  c3

In [72]:
pd.concat([df1,df2,df3])

    A1   A2   A3   B1   B2   B3   C1   C2   C3
0   a1   b1   c1  NaN  NaN  NaN  NaN  NaN  NaN
1   a2   b2   c2  NaN  NaN  NaN  NaN  NaN  NaN
2   a3   b3   c3  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN   a1   b1   c1  NaN  NaN  NaN
4  NaN  NaN  NaN   a2   b2   c2  NaN  NaN  NaN
5  NaN  NaN  NaN   a3   b3   c3  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN  NaN   a1   b1   c1
7  NaN  NaN  NaN  NaN  NaN  NaN   a2   b2   c2
8  NaN  NaN  NaN  NaN  NaN  NaN   a3   b3   c3

In [73]:
pd.concat([df1,df2,df3], axis=1)

    A1   A2   A3   B1   B2   B3   C1   C2   C3
0   a1   b1   c1  NaN  NaN  NaN  NaN  NaN  NaN
1   a2   b2   c2  NaN  NaN  NaN  NaN  NaN  NaN
2   a3   b3   c3  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN   a1   b1   c1  NaN  NaN  NaN
4  NaN  NaN  NaN   a2   b2   c2  NaN  NaN  NaN
5  NaN  NaN  NaN   a3   b3   c3  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN  NaN   a1   b1   c1
7  NaN  NaN  NaN  NaN  NaN  NaN   a2   b2   c2
8  NaN  NaN  NaN  NaN  NaN  NaN   a3   b3   c3

# Operations

In [74]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [75]:
df['col2'] .nunique()

3

In [76]:
df['col2'] .value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [77]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) &(df['col2']==444)

SyntaxError: unexpected EOF while parsing (<ipython-input-77-ced25967759f>, line 2)

In [ ]:
def times2(x):
    return x**2

In [ ]:
df['col1'] .sum()

In [ ]:
#### Apply cudtom function

df['col1'] .apply(times2)

In [ ]:
#### The same applying custom function, but using lambda

df['col2'].apply(lambda x:x*2)

In [ ]:
df

In [ ]:
df.drop('col3', axis=1)

In [ ]:
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.sort_values(by='col2')

In [ ]:
df.isnull()

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])

In [78]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

# Data input and Output

In [ ]:
pd

In [ ]:
pwd

In [ ]:
pd.read_csv('example')

In [ ]:
df=pd.read_csv('example')

In [ ]:
df

In [ ]:
df.to_csv('My_output', index=False)

In [ ]:
pd.read_csv('My_output')

In [ ]:
pd.read_excel('Excel_Sample.xlsx', sheetname='Sheet1')

In [ ]:
df.to_excel('Excel_Sample2.xlsx', sheet_name='NewSheet')

In [ ]:
data = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [ ]:
data[0]

In [ ]:
data[0] .head()

In [ ]:
data[0].count()

In [ ]:
bdf=pd.DataFrame(data[0])

In [79]:
#### training
df

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [135]:
boolser = df['W']>0
result = df[boolser]
mycols = ['Y','X']
result[mycols]

KeyError: 'W'

In [ ]:
df[df['W']>0][['X','Y','Z']]

In [ ]:
df[df>2]

In [ ]:
df[df['Z']>2][['X','Y','Z']]