In [25]:
age = 20
name = 'mike'

print ("My age is: {one}, and my name is: {two}" .format(one=age, two=name))

My age is: 20, and my name is: mike

In [37]:
a='test1'
b='test2'

print('Here is a puta mierda: %s and here is a puta mierda: %s ' %(a,b))

Here is a puta mierda: test1 and here is a puta mierda: test2

In [44]:
age=28
name='Val'
prof='batman'

print('My age is:{one}, my name is :{two} and my job is:{three}'.format(one=age,two=name,three=prof))

My age is:28, my name is :Val and my job is:batman

In [2]:
d={"Key1":"One", "Key2":"Two"}

In [3]:
d

{'Key1': 'One', 'Key2': 'Two'}

In [8]:
d["Key2"]

'Two'

In [13]:
if 1==3:
    print('Yep')
elif 3==4:
    print('Middle')
else:
    print('Nope')

Nope

In [26]:
lst=[1,2,3,4,5,6,7,7,7]

In [27]:
lst

[1, 2, 3, 4, 5, 6, 7, 7, 7]

In [31]:
lst[2]='NEW'

In [32]:
lst

[1, 2, 'NEW', 4, 5, 6, 7, 7, 7]

In [38]:
seq=[1,2,3,4,5]

In [39]:
for numbers in seq:
    print(numbers)

1
2
3
4
5

In [10]:
for x in range (0,5):
    print(x)

0
1
2
3
4

In [11]:
range(0,5)

range(0, 5)

In [14]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [17]:
x=[1,2,3,4]

In [19]:
out=[]

for num in x:
    out.append(num**2)

In [20]:
print(out)

[1, 4, 9, 16]

In [21]:
#### list comprehencion

[num**2 for num in x]

[1, 4, 9, 16]

In [24]:
#### explanation 

out=[num**2 for num in x]

In [25]:
print(out)

[1, 4, 9, 16]

In [26]:
def my_func(param1):
    print(param1)

In [29]:
my_func('Never forget about arguments!!!')

Never forget about arguments!!!

In [35]:
def my_func(name):
    print(name +' Hello')

In [36]:
my_func('Batman')

Batman Hello

In [40]:
def my_func(name='defaultsuperheroname'):
    print('Hello '+name)

In [41]:
my_func()

Hello defaultsuperheroname

In [52]:
def square(num):
    
    """
    THIS IS A DOCUMENTATION STRING
    THIS FUNCTION SQUEARES A NUMBERS
    PUT IT IN RIGHT BLOC
    """
    return num**2

In [53]:
output=square(2)

In [54]:
output

4

In [64]:
def times2(var):return(var*2)

In [65]:
times2(5)

10

In [66]:
##### MAP

In [67]:
seq=[1,2,3,4,5]

In [68]:
(map(times2,seq))

In [69]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [72]:
#### lambda expression

lambda var:var*2

In [74]:
#### lambda expression on map example

list(map(lambda var:var*2,seq))

[2, 4, 6, 8, 10]

In [81]:
#### Filters 

filter(lambda num : num%2==0, seq)

In [82]:
list(filter(lambda num : num%2==0, seq))

[2, 4]

In [84]:
s ='Hello my name is captain Sam'

In [85]:
s.lower()

'hello my name is captain sam'

In [86]:
s.upper()

'HELLO MY NAME IS CAPTAIN SAM'

In [87]:
s.split()

['Hello', 'my', 'name', 'is', 'captain', 'Sam']

In [98]:
tweet='Goes Sports! #Sportsss'

In [99]:
tweet.split()

['Goes', 'Sports!', '#Sportsss']

In [100]:
tweet.split('#')[1]

'Sportsss'

In [107]:
d={'key1':'one','key2':'two'}

In [108]:
d

{'key1': 'one', 'key2': 'two'}

In [109]:
d.keys()

dict_keys(['key1', 'key2'])

In [110]:
d.values()

dict_values(['one', 'two'])

In [111]:
lst=[1,2,3,4,5]

In [112]:
lst

[1, 2, 3, 4, 5]

In [113]:
lst.pop(2)

3

In [114]:
lst

[1, 2, 4, 5]

In [116]:
first=lst.pop(0)

In [117]:
first

1

In [118]:
lst

[2, 4, 5]

In [120]:
lst.append('new items in a list')

In [121]:
lst

[2, 4, 5, 'new items in a list']

In [122]:
'x' in lst

False

In [124]:

'x' in ['x','z','y']

True

In [2]:
x = [(1,2),(3,4),(5,6)]

In [3]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [4]:
for a,b in x:
    print(a)

1
3
5

In [5]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6

# TEST 1

In [6]:
### What is 7 to the power of 4?

In [8]:
print(7**4)

2401

Split this string:
s = "Hi there Sam!"
into a list.

In [9]:
s = "Hi there Sam!"

In [10]:
s.split()

['Hi', 'there', 'Sam!']

Given the variables:
planet = "Earth"
diameter = 12742
Use .format() to print the following string:
The diameter of Earth is 12742 kilometers.

In [12]:
planet='Earth'
diameter='12742'

In [14]:

print('The diameter of:{} is:{} kilometers'.format(planet,diameter) )

The diameter of:Earth is:12742 kilometers

Given this nested list, use indexing to grab the word "hello"

In [15]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

Create a function that grabs the email website domain from a string in the form:
user@domain.com
So for example, passing "user@domain.com" would return: domain.com

In [19]:
def domainget(email):
    return email.split('@')[1]

In [20]:
domainget('user@domain.com')

'domain.com'

Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [49]:
def finddog(f):
    return 'dog' in f.lower() .split()

In [50]:
finddog('Is there any dog here?')

True

In [55]:
f = ('Is there any dog here?')

In [56]:
f.lower()

'is there any dog here?'

In [57]:
f.split()

['Is', 'there', 'any', 'dog', 'here?']

In [58]:
'dog' in f

True

Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [66]:
def countdog(st):
    count = 0
    for word in st.lower() .split():
        if word=='dog':
            count +=1
    return count

In [67]:
countdog('This dog runs faster than the other dog dude!')

2

In [68]:
seq = ['soup','dog','salad','cat','great']

In [71]:
filter(lambda word : word[0]=='s', seq)

In [75]:
list(filter(lambda word : word[0]=='s', seq))

['soup', 'salad']

In [76]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [83]:
caught_speeding(81,False)

'Big Ticket'