# DataFrames Part 1

In [10]:
import numpy as np

In [11]:
import pandas as pd

In [12]:
from numpy.random import randn
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [ ]:
df

In [ ]:
### double brackets
df[['W','Z','Y']]

In [ ]:
df['New']=df['W']+df['Y']

In [ ]:
df

In [ ]:
df.drop('New', axis=1, inplace=True)

In [ ]:
df

In [ ]:
df.drop('E', axis=0)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
#Selecting ROWS

df.loc['A']

In [ ]:
# Or

df.iloc[2]

In [ ]:
df

In [ ]:
df.loc['B','Y']

In [ ]:
df.loc[['A','B'],['W','Y']]

# DataFrames Part 2

In [ ]:
df>0

In [ ]:
booldf=df>0

In [ ]:
df[booldf]

In [ ]:
df[df>0]

In [ ]:
df

In [ ]:
df['W']

In [ ]:
df[df['W']>0]

In [ ]:
df[df['Z']<0]

In [ ]:
resultdf=df[df['W']>0]

In [ ]:
resultdf['X']

In [ ]:
# Or 

df[df['W']>0] ['X']

In [ ]:
### Conditional selection in details

boolser = df['W']>0
result = df[boolser]
mycols = ['Y','X']
result[mycols]

In [ ]:
df[df['W']>1]

In [ ]:
# multiple


df[df['W']>0] [['X','Y']]

In [ ]:
## For two or more conditions use parenthesis with & or | !!!

df[(df['W']>0) & (df['Y'] > 1)]

In [ ]:
df

In [ ]:
df.reset_index()

In [ ]:
df

In [ ]:
newind='CA NY WY OR CO '.split()

In [ ]:
newind

In [ ]:
df['States']=newind

In [ ]:
df

In [ ]:
df.set_index('States')

In [ ]:
df

In [ ]:
#### NEW DATAFRAME

ndf= pd.DataFrame(randn(3,6),index='A B C'.split(),columns='1 2 3 4 5 6'.split())

In [ ]:
ndf

In [ ]:
ndf[(ndf['1']<0) & (ndf['3'] <0)]

In [ ]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [ ]:
df

In [ ]:
df[df['A']>0]

In [ ]:
df = pd.DataFrame({'A':[3,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [ ]:
df

In [ ]:
df.fillna(value='FILL VALUE')

In [ ]:
df['A'].fillna(value=df['A'].mean())

In [ ]:
df[df['A']>0] [df['B']>0]

# GroupBy

In [ ]:
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [ ]:
data

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.groupby('Company')

In [ ]:
bycomp=df.groupby('Company')

In [ ]:
bycomp.mean()

In [ ]:
bycomp.sum()

In [ ]:
bycomp.sum() .loc['FB']

In [ ]:
bycomp.count()

In [ ]:
df.groupby('Company').describe()

In [ ]:
df.groupby('Company').describe() .transpose()

# Mergin,Joining and Concatenating

In [ ]:
df1=pd.DataFrame({'A1':['a1','a2','a3'],'A2':['b1','b2','b3'],'A3':['c1','c2','c3']}, index=[0,1,2])

df2=pd.DataFrame({'B1':['a1','a2','a3'],'B2':['b1','b2','b3'],'B3':['c1','c2','c3']}, index=[3,4,5])

df3=pd.DataFrame({'C1':['a1','a2','a3'],'C2':['b1','b2','b3'],'C3':['c1','c2','c3']}, index=[6,7,8])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
pd.concat([df1,df2,df3])

In [ ]:
pd.concat([df1,df2,df3], axis=1)

# Operations

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
df['col2'] .nunique()

In [ ]:
df['col2'] .value_counts()

In [ ]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) &(df['col2']==444)

In [ ]:
def times2(x):
    return x**2

In [ ]:
df['col1'] .sum()

In [ ]:
#### Apply cudtom function

df['col1'] .apply(times2)

In [ ]:
#### The same applying custom function, but using lambda

df['col2'].apply(lambda x:x*2)

In [ ]:
df

In [ ]:
df.drop('col3', axis=1)

In [ ]:
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.sort_values(by='col2')

In [ ]:
df.isnull()

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

# Data input and Output

In [ ]:
pd

In [ ]:
pwd

In [ ]:
pd.read_csv('example')

In [ ]:
df=pd.read_csv('example')

In [ ]:
df

In [ ]:
df.to_csv('My_output', index=False)

In [ ]:
pd.read_csv('My_output')

In [ ]:
pd.read_excel('Excel_Sample.xlsx', sheetname='Sheet1')

In [ ]:
df.to_excel('Excel_Sample2.xlsx', sheet_name='NewSheet')

In [4]:
data = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [8]:
data[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","April 13, 2017"
1,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017","February 17, 2017"
2,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,"January 13, 2017","April 13, 2017"
3,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
4,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
5,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
6,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
7,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","March 13, 2017"
8,Hometown National Bank,Longview,WA,35156,Twin City Bank,"October 2, 2015","April 13, 2016"
9,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,"October 2, 2015","October 24, 2016"
10,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb","July 10, 2015","August 17, 2016"
11,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,"May 8, 2015","July 12, 2016"
12,Doral Bank En Espanol,San Juan,PR,32102,Banco Popular de Puerto Rico,"February 27, 2015","May 13, 2015"
13,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,"February 13, 2015","April 21, 2015"
14,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb","January 23, 2015","April 21, 2015"
15,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,"January 16, 2015","January 15, 2016"
16,Northern Star Bank,Mankato,MN,34983,BankVista,"December 19, 2014","January 6, 2016"
17,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.","November 7, 2014","November 10, 2016"
18,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,"October 24, 2014","January 6, 2016"
19,NBRS Financial,Rising Sun,MD,4862,Howard Bank,"October 17, 2014","March 26, 2015"
20,"GreenChoice Bank, fsb",Chicago,IL,28462,"Providence Bank, LLC","July 25, 2014","December 12, 2016"
21,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,"July 18, 2014","July 11, 2016"
22,The Freedom State Bank,Freedom,OK,12483,Alva State Bank & Trust Company,"June 27, 2014","March 25, 2016"
23,Valley Bank,Fort Lauderdale,FL,21793,"Landmark Bank, National Association","June 20, 2014","June 29, 2015"
24,Valley Bank,Moline,IL,10450,Great Southern Bank,"June 20, 2014","June 26, 2015"
25,Slavie Federal Savings Bank,Bel Air,MD,32368,"Bay Bank, FSB","May 30, 2014","December 12, 2016"
26,Columbia Savings Bank,Cincinnati,OH,32284,"United Fidelity Bank, fsb","May 23, 2014","November 10, 2016"
27,AztecAmerica Bank En Espanol,Berwyn,IL,57866,Republic Bank of Chicago,"May 16, 2014","October 20, 2016"
28,Allendale County Bank,Fairfax,SC,15062,Palmetto State Bank,"April 25, 2014","July 18, 2014"
29,Vantage Point Bank,Horsham,PA,58531,First Choice Bank,"February 28, 2014","March 3, 2015"
...,...,...,...,...,...,...,...
520,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,"May 9, 2008","August 28, 2012"
521,Hume Bank,Hume,MO,1971,Security Bank,"March 7, 2008","August 28, 2012"
522,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,"January 25, 2008","October 26, 2012"
523,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,"October 4, 2007","September 12, 2016"
524,NetBank,Alpharetta,GA,32575,ING DIRECT,"September 28, 2007","August 28, 2012"
525,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,"February 2, 2007","October 27, 2010"
526,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,"June 25, 2004","April 9, 2008"
527,Reliance Bank,White Plains,NY,26778,Union State Bank,"March 19, 2004","April 9, 2008"
528,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,"March 12, 2004","June 5, 2012"
529,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,"February 14, 2004","April 9, 2008"
530,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,"November 14, 2003","July 22, 2005"
531,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,"May 9, 2003","June 5, 2012"
532,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,"February 7, 2003","October 20, 2008"
533,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,"December 17, 2002","October 20, 2004"
534,Bank of Alamo,Alamo,TN,9961,No Acquirer,"November 8, 2002","March 18, 2005"
535,AmTrade International Bank En Espanol,Atlanta,GA,33784,No Acquirer,"September 30, 2002","September 11, 2006"
536,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,"June 27, 2002","April 9, 2008"
537,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,"June 26, 2002","February 14, 2012"
538,New Century Bank,Shelby Township,MI,34979,No Acquirer,"March 28, 2002","March 18, 2005"
539,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,"March 1, 2002","April 9, 2008"
540,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,"February 7, 2002","February 5, 2015"
541,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,"February 1, 2002","October 25, 2012"
542,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,"January 18, 2002","November 6, 2003"
543,"Hamilton Bank, NA En Espanol",Miami,FL,24382,Israel Discount Bank of New York,"January 11, 2002","September 21, 2015"
544,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,"September 7, 2001","February 10, 2004"
545,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
546,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
547,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
548,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
549,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [9]:
data[0] .head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","April 13, 2017"
1,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017","February 17, 2017"
2,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,"January 13, 2017","April 13, 2017"
3,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
4,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"

In [14]:
data[0].count()

Bank Name                550
City                     550
ST                       550
CERT                     550
Acquiring Institution    550
Closing Date             550
Updated Date             550
dtype: int64

In [15]:
bdf=pd.DataFrame(data[0])